footer.footer
    h3 IPL Live Score
    .about__footer
    span
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
        | molestiae ipsam inventore neque maxime, quia, impedit ut voluptate
        | nobis praesentium, in labore consectetur eum provident? Ab,
        | exercitationem. Asperiores inventore repellendus cumque ullam
        | laboriosam, quia iste doloremque neque quaerat voluptate doloribus
        | corrupti harum, ipsam at labore tenetur, laborum perferendis possimus
        | aspernatur rerum dignissimos distinctio. Necessitatibus eveniet nemo
        | ipsam hic facilis possimus, autem perspiciatis beatae quae suscipit
        | quia laudantium provident error praesentium sint assumenda dolores
        | facere quos illum consectetur eaque ea excepturi fugit sed? Voluptates
        | mollitia dolorum nihil accusamus expedita ratione, architecto beatae,
        | libero tempore aperiam exercitationem suscipit voluptatibus quasi qui
        | consequatur.
    .rights &copy; All rights reserved! Made with &hearts;
script(src="/script.js") 
