a(href='http://localhost:4545/api/v1/iplmatchlist')
    .card
        .series__img
            img(src='./img/ipl_banner.webp', alt='banner')
        .series__details
            .series__name
                span Indian Premier League 2023
            .series__time
                span 2023, March 31 to May 28
            .series__match
                span 70 T20s Matches