doctype html
html(lang='en')
    include partials/matchListHead
    body
        include partials/navbar
        .container
            .about__container
                h3 Catch Live IPL Action
                p
                | Yeah, This is the place where you can catch all the action and live
                | score of IPL matches.
            .btn__container 
                .btns__list 
                    a.link.active(href="http://127.0.0.1:4545/api/v1/iplmatchlist") Series Info
                    a.link(href="http://127.0.0.1:4545/api/v1/iplupcomingmatches") Upcoming
                    a.link(href="http://127.0.0.1:4545/api/v1/ipllivematches") Live
                    a.link(href="http://127.0.0.1:4545/api/v1/iplfinishedmatches") Finished
            section.main
                main.content
                    h1 Live Matches will go here..
                main.news
                    span news will go here..
        include partials/footer