doctype html
html(lang='en')
    include partials/matchListHead
    body
        include partials/navbar
        .container
            .about__container
                h3 Catch Live IPL Action
                p
                | Yeah, This is the place where you can catch all the action and live
                | score of IPL matches.
            .btn__container 
                .btns__list 
                    a.link.active(href="#") Series Info
                    a.link(href="#") Upcoming
                    a.link(href="#") Live
                    a.link(href="#") Finished
            section.main
                main.content
                    include match
                main.news
                    span news will go here..
        include partials/footer
    script(src="/script.js") 

