.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
}

.content {
  grid-area: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.match {
  line-height: 1.5;
  padding: 0.55rem;
  border-radius: 0.35rem;
  border: 1px solid var(--borderClr);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  color: var(--whiteClr);
}

.match:hover {
  box-shadow: rgb(31, 48, 66) 0px 20px 30px -10px;
}

.match__details {
  display: flex;
  justify-content: space-between;
  margin: 0.35rem 0 0.5rem;
}

.match__details > span {
  font-size: 0.8rem;
}

.team__img {
  display: grid;
  place-content: center;
  margin-right: 0.5rem;
}

.team__img img {
  width: 30px;
  border-radius: 50%;
}

.team__1,
.team__2 {
  display: flex;
  align-items: center;
  margin-bottom: 0.65rem;
}

.teamname {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.match__status {
  font-size: 0.85rem;
}

.dot {
  width: 5px;
  height: 5px;
  margin-right: 0.3rem;
  border-radius: 50%;
}

.isStart {
  display: flex;
  align-items: center;
}

.isStart[data-finish="finished"] .dot {
  background-color: #920202;
}

.isStart[data-live="lived"] .dot {
  background-color: #008000;
}

.isStart[data-upcoming="notstarted"] .dot {
  background-color: #b9b900;
}

.btn__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 2rem;
  gap: 2rem;
}

.btns__list {
  grid-area: 1 / span 2;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.link {
  padding: 0.55rem 0;
  color: var(--whietClr);
  width: 100%;
  border: none;
  border-bottom: 2px solid transparent;
}

.link:hover,
.active {
  border-bottom: 2px solid var(--borderClr);
  color: red;
}

::selection {
  background-color: rgba(128, 128, 128, 0.288);
  color: rgb(255, 34, 34);
}

.list__name {
  margin-bottom: 1rem;
}
