@media (max-width: 1000px) {
  .main {
    grid-template-columns: repeat(1, 1fr);
  }

  .content {
    margin-bottom: 2.5rem;
  }

  .btn__container {
    width: 100%;
  }

  .btns__list {
    grid-area: 1 / span 3;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .content,
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .btns__list {
    font-size: 0.85rem;
  }
}
